
</main>
<!-- main wrapper end -->

<!-- Quick view modal start -->
<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-large-slider mb-20">
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img1.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img2.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img3.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img4.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img5.jpg" alt="" />
                                </div>
                            </div>
                            <div class="pro-nav slick-row-10 slick-arrow-style">
                                <div class="pro-nav-thumb">
                                    <img src="assets/img/product/product-details-img1.jpg" alt="" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="assets/img/product/product-details-img2.jpg" alt="" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="assets/img/product/product-details-img3.jpg" alt="" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="assets/img/product/product-details-img4.jpg" alt="" />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="assets/img/product/product-details-img5.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-details-des">
                                <h5 class="product-name">Private Selection Wild Caught Jumbo</h5>
                                <div class="ratings">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <div class="pro-review">
                                        <span>1 review(s)</span>
                                    </div>
                                </div>
                                <div class="price-box">
                                    <span class="price-regular">$70.00</span>
                                    <span class="price-old"><del></del></span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. Phasellus id nisi quis justo tempus mollis sed et dui. In hac
                                    habitasse platea dictumst.</p>
                                <div class="availability mt-10 mb-20">
                                    <i class="ion-checkmark-circled"></i>
                                    <span>200 in stock</span>
                                </div>
                                <div class="quantity-cart-box d-flex align-items-center">
                                    <div class="quantity">
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                    </div>
                                    <div class="action_link">
                                        <a class="btn btn-cart" href="#"><i class="ion-bag"></i>Add to cart</a>
                                    </div>
                                </div>
                                <div class="useful-links mt-28">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i
                                            class="ion-ios-shuffle"></i>compare</a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i
                                            class="ion-android-favorite-outline"></i>wishlist</a>
                                </div>
                                <div class="like-icon mt-20">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- product details inner end -->
            </div>
        </div>
    </div>
</div>
<!-- Quick view modal end -->

<!--== Start Footer Area Wrapper ==-->
<footer class="footer-wrapper bg-dark ">

    <!-- footer top area start -->
    <div class="footer-top">
        <div class="container">
            <div class="footer-features-inner">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="single-features-item footer-feature-item">
                            <div class="features-icon">
                                <i class="ion-ios-telephone"></i>
                            </div>
                            <div class="features-content">
                                <h5>0123456789</h5>
                                <p>Free support line!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="single-features-item footer-feature-item">
                            <div class="features-icon">
                                <i class="ion-help-buoy"></i>
                            </div>
                            <div class="features-content">
                                <h5>mail@yourdomain.com</h5>
                                <p>Orders Support!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="single-features-item footer-feature-item">
                            <div class="features-icon">
                                <i class="ion-clock"></i>
                            </div>
                            <div class="features-content">
                                <h5>Mon - Fri / 8:00 - 18:00</h5>
                                <p>Working Days/Hours!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer top area start -->

    <!-- footer widget area start -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="footer-widget-inner">
                <div class="row">
                    <!-- footer widget item start -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget-item">
                            <div class="footer-widget-logo">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo.png" alt="">
                                </a>
                            </div>
                            <div class="footer-widget-body">
                                <p>We are a team of designers and developers that create high quality Magento, Prestashop, Opencart.</p>
                                <h6 class="contact-info-title">Contact info:</h6>
                                <p>169-C, Technohub, Dubai Silicon Oasis.</p>
                                <div class="footer-social-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-rss"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- footer widget item end -->

                    <!-- footer widget item start -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget-item">
                            <div class="footer-widget-title">
                                <h5>information</h5>
                            </div>
                            <ul class="footer-widget-body">
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">New products</a></li>
                                <li><a href="#">Top sellers</a></li>
                                <li><a href="#">Our stores</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer widget item end -->

                    <!-- footer widget item start -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget-item">
                            <div class="footer-widget-title">
                                <h5>my account</h5>
                            </div>
                            <ul class="footer-widget-body">
                                <li><a href="my-account.html">my account</a></li>
                                <li><a href="login-register.html">login/register</a></li>
                                <li><a href="#">my orders</a></li>
                                <li><a href="#">my credit slips</a></li>
                                <li><a href="#">my addresses</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer widget item end -->

                    <!-- footer widget item start -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget-item">
                            <div class="footer-widget-title">
                                <h5>customer service</h5>
                            </div>
                            <ul class="footer-widget-body">
                                <li><a href="#">site map</a></li>
                                <li><a href="#">special</a></li>
                                <li><a href="#">returns</a></li>
                                <li><a href="#">Order history</a></li>
                                <li><a href="#">my account</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer widget item end -->
                </div>
            </div>
        </div>
    </div>
    <!-- footer widget area end -->

    <!-- newsletter area start -->
    <div class="newsletter-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="newsletter-title">
                        <div class="newsletter-icon">
                            <i class="ion-ios-email"></i>
                        </div>
                        <h3>join Oregon newsletter</h3>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-7">
                    <div class="newsletter-inner">
                        <form id="mc-form">
                            <input type="email" class="news-field" id="mc-email" autocomplete="off" placeholder="Enter your email address">
                            <button class="news-btn" id="mc-submit">Subscribe</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12">
                    <div class="payment-method">
                        <img src="assets/img/payment.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newsletter area end -->

    <!-- footer bottom area start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-text text-center">
                        <p>Copyright © 2019 <a href="#">Oregon</a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom area end -->

</footer>
<!--== End Footer Area Wrapper ==-->

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
<!-- Scroll to Top End -->

<!-- All vendor & plugins & active js include here -->
<!--All Vendor Js -->
{% include "js.html" %}
</body>

</html>